@import "tailwindcss";

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu Medium';
  src: url('./assets/fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu Bold';
  src: url('./assets/fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root{
  --darkblue: #001d4c;
  --deepblue: #193061;  
  --blue: #0053b1;
  --lightblue: #4f9ad2;
  --font-primary: "Ubuntu", sans-serif;  
}

/* Estilos globais usando @layer base */
@layer base {
  body {    
    font-family: var(--font-primary);    
    @apply text-base text-[--deepblue];
  }
  
  p {
    @apply text-base text-[--deepblue];
  }
  
  h1 {
    @apply text-3xl font-bold text-[--deepblue];
  }
  
  h2 {
    @apply text-2xl font-semibold text-[--deepblue];
  }
  
  h3 {
    @apply text-xl font-medium text-[--deepblue];
  }
}

/* Componentes reutilizáveis */
@layer components {
  .container {
    @apply max-w-6xl mx-auto px-4;
  }
  
  .btn-primary {    
    @apply text-xl tracking-tight font-bold rounded-md bg-[var(--blue)] hover:bg-[var(--darkblue)] text-white px-6 py-2 transition-all duration-300 cursor-pointer;
  }

}